.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav__logo{
    display: flex;
    justify-content: flex-start;
}
.nav__bucket{
    display: flex;
    justify-content: flex-end;

}
.nav__search{
    display: flex;
}
input{
    flex: 1;
}
.nav__signin{
    display: flex;
    justify-content: center;
}